p, form, button {
    text-align: center;
}

p {
    font-size: 20px;
}

.form {
    margin-top: 80px;
    font-size: 20px;
}

input {
    width: 300px;
}

strong {
    text-decoration-line: underline;
}