header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(218, 187, 160);
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 50px;
  background-color: rgb(218, 187, 160);
}
