<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate articles with NLP</title>
    <!-- <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/form.css">
    <link rel="stylesheet" href="../style/footer.css">
    <script type="text/javascript" src="../script/submitForm.js"></script>
    <script type="text/javascript" src="../script/checkURL.js"></script>
    <script type="text/javascript" src="../../../dist/index.bundle.js"></script> -->
</head>
<body>
    <header>
        <div>Home</div>
        <div class='logo'>Logo</div>
        <a class='about-link' href='about.html'>About</a>
    </header>
    <h1 class="title">Evaluate news articles </br>with Natural Language Processing</h1>
    <section>
        <p class="form">Enter an article URL here to evaluate</p>
        <form>
            <input placeholder="http://" value="" id="form" onfocus="this.value=''"/>
            <button  type="submit" onclick="return Client.submitForm(event)">Submit</button>
        </form>
    </section>
    <section>
        <div class='results'>
            <p class="result"><strong>Result:</strong></p>
            <p id="evaluating">Enter a URL to begin the evaluation</p>
            <div id='data'>
                <p id="polarity"></p>
                <p id="agreement"></p>
                <p id="subjectivity"></p>
                <p id="confidence"></p>
                <p id="irony"></p>
            </div>
        </div>
    </section>
    <footer>
        Footer
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    // console.log('SW registered: ', registration);
                }).catch(registrationError => {
                    console.log('SW registration failed: ', registrationError);
                });
            });
        }
    </script>
</body>
</html>